google_search_results>=2.4.0
requests>=2.25.1
py_stringmatching>=0.4.2
numpy>=1.20.2
streamlit>=0.86.0
pandas>=1.2.4
numpy>=1.21.0
openpyxl>=3.0.7
XlsxWriter==3.0.1
requests>=2.25.1
numpy>=1.20.2
streamlit>=1.5.1
pandas>=1.2.4
numpy>=1.21.0
openpyxl>=3.0.7
XlsxWriter==3.0.1
google_search_results>=2.4.0
requests>=2.25.1
py_stringmatching>=0.4.2
numpy>=1.20.2
streamlit>=0.86.0
pandas>=1.2.4
numpy>=1.21.0
openpyxl>=3.0.7
XlsxWriter==3.0.1
people-also-ask>=0.0.6
sentence-transformers==2.1.0
openpyxl
requests>=2.25.1
numpy>=1.20.2
streamlit>=1.5.1
pandas>=1.2.4
numpy>=1.21.0
openpyxl>=3.0.7
XlsxWriter==3.0.1
nltk==3.7